{% extends "main/base.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='main/style.css') }}">
    <img src="{{ url_for('static', filename='main/logo.png') }} "width="250">
    {% for chat in chat_his %}
        <p class="user">{{ chat['user'] }}</p>
        <p class="model">{{ chat['model'] }}</p>
    {% endfor %}
    <form action="{{ url_for('main.menu') }}" method="post">
        {{ form.csrf_token }}
        <input type="text" name="text">
        <select name="prsnlty_id">
            {% for num in range(prsnlty |length) %}
                {% if (num + 1) == prsnlty_id %}
                    <option value="{{ prsnlty[num]['id'] }}" selected>{{ prsnlty[num]['name'] }}</option>
                    {% else %}
                    <option value="{{ prsnlty[num]['id'] }}">{{ prsnlty[num]['name'] }}</option>
                {% endif %}
            {% endfor %}
        </select>
        <input type="submit" value="投稿">
    </form>
{% endblock %}