{% extends "main/base.html" %}
{% block content %}
{% if voice %}
    <audio id="voice" src="{{ url_for('main.tts', timestamp=timestamp) }}" autoplay></audio>
{% endif %}
<link rel="stylesheet" href="{{ url_for('static', filename='main/style.css') }}">
    <div class="fixed-header">
        <img src="{{ url_for('static', filename='main/logo.png') }}" class="fixed-logo">
        <a href="{{ url_for('main.mypage') }}" class="mypage-btn">{{ current_user.username }}</a>
        <a href="{{ url_for('main.mypage') }}"><img src="{{ url_for('main.profile_image') }}" alt="プロフィール画像" class="myimage"></a>
    </div>
    <div class="main-container">
        <div class="left-content">
            <div class="chat-box-wrapper">
                <div class="right-btn">
                    <img id="expandBtn" class="expand-icon" 
                    src="{{ url_for('static', filename='main/up.png') }}" >
                    </div>
                <div class="chat-box1" id="chatBox">
                    {% for chat in chat_his %}
                    <p class="user">{{ chat['user'] }}</p>
                    <p class="model">{{ chat['model'] }}</p>
                    {% endfor %}
                </div>
            </div>
            <div class="chat-box2">
                <form action="{{ url_for('main.menu') }}" method="post">
                    {{ form.csrf_token }}
                    <input type="text" name="text">
                    <select name="prsnlty_id">
                        {% for num in range(prsnlty |length) %}
                            {% if prsnlty[num]['id'] == prsnlty_id %}
                                <option value="{{ prsnlty[num]['id'] }}" selected>
                                    {{ prsnlty[num]['name'] }}
                                    {% if prsnlty[num]['credit'] != "" %}
                                        ({{ prsnlty[num]['credit'] }})
                                    {% endif %}
                                </option>
                                {% else %}
                                <option value="{{ prsnlty[num]['id'] }}">
                                    {{ prsnlty[num]['name'] }}
                                    {% if prsnlty[num]['credit'] != "" %}
                                        ({{ prsnlty[num]['credit'] }})
                                    {% endif %}
                                </option>
                            {% endif %}
                        {% endfor %}
                    </select>
                    <input type="submit" value="投稿">
                </form>
            </div>
        </div>
        <div class="sidebar">
            <h3>今日のタスク<span class="date">&nbsp;&nbsp;({{ today }})</span></h3>
            <form action="{{ url_for('main.taskSave') }}" method="post">
                {{ form.csrf_token }}
                {% for num in range(task_list | length) %}
                    <label>
                    {% if task_result[num] %}
                        <input type="checkbox" name="completed_tasks" value="{{ num }}" checked>
                    {% else %}
                        <input type="checkbox" name="completed_tasks" value="{{ num }}">
                    {% endif %}
                    {{ task_list[num] }}
                    </label><br>
                {% endfor %}
                <button type="submit">送信</button>
            </form>
        </div>
    </div>
    <script src="{{ url_for('static', filename='main/main.js') }}"></script>
{% endblock %}