<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>

    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
  <a href="{{ url_for('auth.logout') }}">ログアウト</a>

  {{ username }}
  {{ point }}
  {% for task in check_task %}
    {{task}}
  {% endfor %}

  <!-- {% for da in date %}
   {{da}} 
  {% endfor %} -->


  <canvas id="myChart" width="400" height="200"></canvas>
  <script>
    const ctx = document.getElementById('myChart');
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: [],
            datasets: [{
                label: '達成タスク数',
                data: [3, 2, 5, 1],
                backgroundColor: 'rgba(54, 162, 235, 0.6)',
                borderColor: 'rgba(54, 162, 235, 1)',
                borderWidth: 1
            }]
        },
        options: {

        }
    });
  </script>



</body>
</html>