<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ガチャ</title>
    <link rel="stylesheet" href="https://unpkg.com/modern-css-reset/dist/reset.min.css"/>
</head>
<body>
    <div class="gacha-container">
        <div class="gachabox">
            <div>
                <p>保有ポイント{{ current_user.point }}ポイント</p>
                <p>5ポイント/1回</p>
                <form action="{{ url_for('gacha.gachaApi') }}" method="post">
                    {{ form.csrf_token }}
                    {% if current_user.point >= 5 %}
                        <input type="submit" value="ガチャを引く">
                    {% else %}
                        <input type="submit" value="ガチャを引く" disabled>
                    {% endif %}
                    <input type="submit" value="ガチャを引く">
                </form>
                <form action="{{ url_for('main.mypage') }}">
                    <input type="submit" value="戻る">
                </form>
            </div>
        </div>
    </div>
</body>
</html>